{{define "so"}}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link href="/style/css/resetcss.css" type="text/css" rel="stylesheet">
    <link href="/style/css/style.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>MyMachinesStack</title>
</head>
<body>
    <div class="container-menu">Escolha o S.O</div>
    <div class="container-separador"> </div>
    <div class="container-conteudo">

            <div class="container-botton"><a href="/formvm" class="BUTTON_RUY">Linux</a></div>
            <div class="container-botton"><a href="#" class="BUTTON_RUY">Windows</a></div>

    </div>
</body>
</html>
{{end}}