
.container-menu{
    background: #c0c0c0;
    font-size: 40px;
    text-align: center;
    height: 50px;
    padding: 5px 0;

}
.container-separador{
    height: 100px;
}

.container-conteudo{
    text-align: center;
    min-height: 100vh;
    font-size: 25px;
    display: inline-block;
    background-color: #FFFFFF;
    top: auto;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.container-botton{
    text-align: center;
    min-height: 10vh;
    max-height: 12vh;
    /*background-color: #1E62D0;*/
    display: inline-block;
    top: initial;
    margin: auto;
    position: relative;
}

.BUTTON_RUY {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    /*background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 58px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.BUTTON_RUY:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    /*background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);*/
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}